<nav class="navbar fixed-top navbar-dark bg-dark">
  <div class="d-none d-md-inline col-1">
    <span class="navbar-brand">Menu</span>
  </div>
  <div class="col-2">
    <span class="text-white">Song</span>
  </div>
  <div class="col-1">
    <span class="text-white">Album</span>
  </div>
  <div class="col-3">
    <span class="text-white">Song Description</span>
  </div>
  <div class="col">
    <span class="text-white">Tags</span>
  </div>
  <%= link_to("New", new_song_path, class: "nav-link") %>
  <%= link_to("Back to Main List", songs_path, class: "nav-link") %>
</nav>
<div class="container-fluid">
  <% @songs.each do |song| %>
    <div class="row">
      <div class="col-1">
        <%= image_tag(song.picture.url, height: 50, width: 50) %>
      </div>
      <div class="col-2"><h3><%= link_to(song.name, song) %></h3></div>
      <div class="col-1"><h3><%= song.album_list %></h3></div>
      <div class="col-3">
        <span class="text-white"><%= song.bio %></span>
      </div>
      <div class="col-3">
        <span class="text-white"><%= song.tag_list %></span>
      </div>
      <div class="col-1">
          <%= link_to("Edit", edit_song_path(song), class: "btn btn-secondary") %>
      </div>
      <div class="col-1">
          <%= link_to("Delete", song, class: "btn btn-danger", method: "delete") %>
      </div>
    </div>
  <% end %>
</div>
